[submodule "BrahmaLoader"]
	path = BrahmaLoader
	url = https://github.com/lifehackerhansol/BrahmaLoader.git
	ignore = dirty
[submodule "CakeHax"]
	path = CakeHax
	url = https://github.com/dukesrg/CakeHax.git
